@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Exercise 3 - {0}", "Database Data Entry");

    // global variables
    var title = "";
    var artistid = "0";
    var releaseyear = "";
    var releaselabel = "";

    var db = Database.Open("CHINOOK");
    var artistquery = @"SELECT ArtistId, Name FROM Artists ORDER BY Name";
    var artistlist = db.Query(artistquery);

    //validator controls
    Validation.Add("Title",
        Validator.Required("Title name is required"),
        Validator.StringLength(160, 1, "Title name is limited to 160 charactors"));

    Validation.Add("ArtistList",
        Validator.Range(1, 275, "ArtistId name is required"));  //Validator.Integer("ArtistId must be a interger"));

    Validation.Add("ReleaseYear",
        Validator.Required("ReleaseYear name is required"),
        Validator.Integer("ReleaseYear must be a interger"),
        Validator.Range(1950, DateTime.Today.Year, "ReleaseYear between 1950 and this year inclusive."));

    Validation.Add("ReleaseLabel",
        Validator.StringLength(50, 0, "ReleaseLabel name is limited to 50 charactors"));
}

@section head {
    <link href="~/Content/MySpacing.css" rel="stylesheet" />
}

@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    title = Request.Form["Title"];
    artistid = Request.Form["ArtistList"];
    releaseyear = Request.Form["ReleaseYear"];
    releaselabel = Request.Form["ReleaseLabel"];
    var thebutton = Request.Form["FormButton"];

    if (thebutton.Equals("Clear"))
    {
        title = "";
        artistid = "0";
        releaseyear = "";
        releaselabel = "";
    }
    else //pressed the ADD button
    {
        if (Validation.IsValid())
        {
            try
            {
                var inscommand = "INSERT INTO Albums (Title, ArtistId, ReleaseYear, ReleaseLabel) VALUES(@0, @1, @2, @3)";

                db.Execute(inscommand,
                    string.IsNullOrEmpty(title) ? null : title,
                    artistid.Equals("0") ? null : artistid,
                    releaseyear.Equals("0") ? null : releaseyear,
                    string.IsNullOrEmpty(releaselabel) ? null : releaselabel);


                <p style="color:green">
                    Product has been ADDED
                </p>

            }
            catch (Exception ex)
            {
                <p style="color:firebrick; font-size:large">
                    Processing error: @ex.Message
                </p>

            }
        }
    }
}
else
{

}

<div class="offset-5">
    <div class="col-md-12 text-left">
        @Html.ValidationSummary()
    </div>
</div>

<form id="theform" method="post">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Enter the info. of the album you need to add.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-right">
            <label for="Title">Title:</label><br />
            <label for="ArtistList">ArtistId:</label><br />
            <label for="ReleaseYear">ReleaseYear:</label><br />
            <label for="ReleaseLabel">ReleaseLabel:</label><br />
        </div>
        <div class="col-m-6 text-left">
            <input type="text" id="Title" name="Title" value="@title" /><br />
            <select id="ArtistList" name="ArtistList">
                <option value="0">select...</option>
                @foreach (var item in artistlist)
                {
                    if (item.ArtistID.ToString() == artistid)
                    {
                        <option value="@item[0]" selected">@item[1]</option>       //required//selected
                    }
                    else
                    {
                        <option value="@item[0]">@item[1]</option>
                    }
                }
            </select><br />
            <input type="number" id="ReleaseYear" name="ReleaseYear" value="@releaseyear" /><br />
            <input type="text" id="ReleaseLabel" name="ReleaseLabel" value="@releaselabel" /><br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <input type="submit" id="FormButton" name="FormButton"
                    class="btn btn-primary" value="Add" />
            <input type="submit" id="FormButton" name="FormButton" formnovalidate
                    class="btn" value="Clear" />
        </div>
    </div>
</form>
